<!-- <nav class="navbar navbar-expand-lg  bg-dark p-0">
  <div class="container">
    <a class="navbar-brand objetfit py-0" href="#">
      <img class="navbar-brand d-flex m-0 aflogo" routerLink="inicio" src="assets/imagenes/blanco.png" alt="Logo alexfrancesc"
        routerLink="inicio">
    </a>
    <button mat-fab class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <mat-icon class="text-light">menu</mat-icon> 
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="fs-8 cool nav-link active" aria-current="page" routerLink="inicio">INICIO</a>
        <a class="fs-8 cool nav-link" routerLink="historia">HISTORIA</a>
        <a class="fs-8 cool nav-link" routerLink="contacto">CONTACTO</a>
      </div>
    </div>
  </div>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand objetfit py-0" href="#">
      <img class="navbar-brand d-flex m-0 aflogo" routerLink="inicio" src="assets/imagenes/blanco.png" alt="Logo alexfrancesc"
        routerLink="inicio">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"routerLink="inicio">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="historia">HISTORIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contacto">CONTACTO</a>
        </li>

      </ul>
    </div>
  </div>
</nav>