<div class="container ">
    <div class="row marg justify-content-center">
        <div class="imagent col-lg-8 col-12 col-md-7 pt-lg-5 pt-md-3 pt-2">
            <img class="img-fluid rounded float-start shadow"
                src="https://firebasestorage.googleapis.com/v0/b/alexfrancesc-d6a56.appspot.com/o/historia%2F039_%5B003567%5D_Fecha_09-10-18_paisas_Canon%20EF%2050mm%20f-1.4%20USM_6.3_.jpg?alt=media&token=805ad7ce-8207-4b65-89b1-c3a1020feaba"
                alt="">
        </div>
        <div class="col-lg-4 col-12 col-md-5 pt-lg-5 pt-md-3 pt-2 ">
            <h2>
                Sobre Mí
            </h2>
            <hr>

            <p>
                Realizando fotografías desde 2004 con una cámara
                que solia prestarme un amigo mio esta fue la Olympus d395
                la primara cámara digital que tuve en mis manos.
                Para el año 2007 después de ver este <a  target="_blank" href="https://www.youtube.com/watch?v=X-nykslGVFk">comercial</a> de Shakira
                y las cámaras Lumix, retorne a La Paz y adquirí la lumix DMC-fx12 con ella
                aprendí bastante de fotografía, en 2009 con la llegada los celulares con camara
                y exactamente el modelo Sony-Ericsson W580i y su gran calidad de fotografías, para su época,
                retrataba todo lo que estaba en mi alrededor, ya 2012 di el salto a una sony H55 que fue una gran cámara
                con una equivalencia de distancia focal de 25-250mm con esta versatilidad hacia toda clase de
                encuadres, en 2013 cambie a las cámaras réflex y a partir de ahí... bueno ya conocen el resto.
            </p>
        </div>

    </div>
</div>