
<div class="py-2">
    <p fxLayoutAlign="center" class="pt-1 fw-light h4">Lista de productos</p>
</div>



<br>

    <!-- segunda linea -->

<div    fxLayout="row wrap"
        class="animate__animated animate__fadeIn"

        fxLayoutAlign="space-evenly start" 
        fxLayoutGap="15px">
            <div 
                fxFlex="15"
                fxFlex.lg="20"
                fxFlex.sm="30"
                fxFlex.xs="45"
                *ngFor="let producto of productos"
                class="m-0"
                >
                <app-pictures [producto]="producto"></app-pictures>
            </div>
</div>
